@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  /* font-family: 'Dosis', Arial, Sans-serif; */
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* This will be added to body when the menu is active */
.white-overlay {
  background: white !important;
  overflow: hidden !important;
  height: 100vh;
}

.white-overlay *:not(#menuToggle):not(#hamburgerIcon):not(#cancelIcon) {
  visibility: hidden;
}

#menuToggle,
#hamburgerIcon,
#cancelIcon {
  visibility: visible !important;
  z-index: 1000; 
}


#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#scroll-to-top:hover {
  background-color: #444;
  transform: scale(1.1);
}



@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .display-3 {
    font-size: 3rem;
  }
}

a {
  /* color: #2575fc; */
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover, a:focus, a:active {
  color: #023386;
  text-decoration: none;
}

.link-muted {
  color: #464a4c;
}

.text-light {
  color: rgba(255, 255, 255, 0.7);
}

.link-reverse {
  color: #fff;
}

.link-reverse:hover {
  color: #fff;
  opacity: 0.7;
}

.font-bold {
  font-weight: 700;
}

.my-md {
  margin-top: 2.5em !important;
  margin-bottom: 2.5em !important;
}

.my-lg {
  margin-top: 5em !important;
  margin-bottom: 5em !important;
}

.py-lg {
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}

.mt-lg {
  margin-top: 5em !important;
}

.mb-lg {
  margin-bottom: 5em !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.bg-light {
  background-color: #f7f7f9;
}

.bg-white {
  background-color: #fff !important;
}

.bg-primary {
  background-color: #2575fc !important;
}

.light-text {
  color: #b5bcc0;
}





/*FONT*/
.sans-serif-font {
  font-family: "Dosis", Arial, Sans-serif  !important;
}

/*-----------------------------------
 * Section
 *-----------------------------------*/
.section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.section-title {
  margin: 2em auto;
}

.btn {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Oswald", "Impact", sans-serif;
  border-radius: 0;
}

.btn-sm {
  font-size: 14px;
  letter-spacing: 0;
}

.btn-lg {
  padding: 1rem 2.5rem;
}



/*-----------------------------------
 * Wrappers
 *-----------------------------------*/
.wrapper {
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background.overlay:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.body-padding {
  margin: 30px;
  height: calc(100% - 60px);
  min-height: calc(100% - 60px);
}

@media (max-width: 767px) {
  .body-padding {
    margin: 15px;
    height: calc(100% - 30px);
    min-height: calc(100% - 30px);
  }
}

.bg-one {
  background-image: url("../images/bg-one.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-minimal {
  background-image: url("../images/minimal.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

.content-section {
  height: 100%;
  margin-right: 80px;
}

@media (max-width: 767px) {
  .content-section {
    margin-right: 0;
  }
}

.center-content {
  text-align: center;
}

.center-content.text-light {
  color: #fff;
}

.center-content .lead {
  margin: 0 auto;
  max-width: 500px;
}

.padding {
  padding: 35px;
}

.animation {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

/*-----------------------------------
 * Sidebar
 *-----------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  z-index: 2;
}

.sidebar.sidebar-dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar.sidebar-light {
  background-color: transparent;
}

@media (max-width: 767px) {
  .sidebar.sidebar-dark, .sidebar.sidebar-light {
    background-color: transparent;
  }
}


.social-links {
  margin-bottom: 50px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
}

@media (max-width: 767px) {
  .social-links {
    display: none;
  }
}

.social-links a {
  font-family: "Oswald", "Impact", sans-serif;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 5px;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.social-links a:hover, .social-links a:focus {
  color: #fff;
}

.sidebar-light .social-links a {
  color: rgba(0, 0, 0, 0.5);
}

.sidebar-light .social-links a:hover, .sidebar-light .social-links a:focus {
  color: #000;
}
@media (min-width: 1900px) and (max-width: 2003px) {
  .social-links {
      top: 10rem;

  }
}
[class^='vline'] {
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-animation-name: lineanim;
  animation-name: lineanim;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.light-theme [class^='vline'] {
  background: rgba(0, 0, 0, 0.1);
}

.vline-1 {
  left: 20%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.vline-2 {
  left: 40%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.vline-3 {
  left: 60%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.vline-4 {
  left: 80%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/*-----------------------------------
 * Content
 *-----------------------------------*/


.about-section{
  /* height: 80vh; */
  padding-bottom: 50px;
}
.about-section h2, p{
  font-family: sans-serif;
}
.about-section p{
  width: 80% !important;
  text-align: left !important;
}

.contact-now-btn{
  background-color: #000 !important;
  color: #ffffff !important;
  padding: 10px;
  height: 50px;
  width: 120px;
  font-family: sans-serif;
  text-align: center;
  border-radius: 8px;
  /* cursor: pointer; */
}
.contact-now-btn a{
  color: white !important;
  font-family: sans-serif !important;
}
.bttons-container{
  display: flex;
  gap: 15px;
  font-family: sans-serif;
  margin-top: 40px;
}
.download-btn{
  background-color: transparent !important;
  color: #000 !important;
  border: 1px solid #000 !important;
  padding: 10px;
  height: 50px;
  font-size: 13px;
  font-family: sans-serif;
  cursor: pointer;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.download-btn a{
  color: #000 !important;
}

.form-group .submit-btn{
  background-color: #000 !important;
  color: #ffffff !important;
  padding: 10px 20px !important;
  height: 50px !important;
  /* width: 120px; */
  border: none !important;
  font-family: sans-serif !important;
  text-align: center;
  outline: none !important;
  border-radius: 8px !important;
}




@media (min-width: 992px) and (max-width: 1199px) {
  .fullscreen-content {
    padding: 0 50px;
  }
}


/* Feature Block
 * ------------- */
.feature-block {
  text-align: center;
  margin: 2em auto;
}

.feature-block i {
  margin-bottom: 0.3em;
}

.feature-block p {
  margin-top: 1em;
}

.dark-bg .feature-block p {
  color: rgba(255, 255, 255, 0.8);
}

.light-bg .feature-block p {
  color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  margin-bottom: 4em;
}

.section-title .section-heading {
  font-weight: 700;
  text-transform: uppercase;
}

.section-title p {
  max-width: 600px;
  margin: 0 auto;
}

.team-block {
  text-align: center;
  margin-bottom: 3em;
}

.dark-bg .team-block p {
  color: rgba(255, 255, 255, 0.8);
}

.light-bg .team-block p {
  color: rgba(0, 0, 0, 0.8);
}

.team-block > .animation {
  display: inline-block;
}

/* Slick Slider
 * ------------- */
/* .slick-slide .img-holder {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
} */

/* Countdown Timer
 * --------------- */
.countdown-wrap {
  margin: 40px 0 20px 0;
}

.countdown-wrap p {
  font-size: 22px;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .countdown-wrap {
    margin: 10px 0;
  }
}

.countdown {
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  list-style: none;
}

.countdown li {
  display: inline-block;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 20px 15px;
  margin-right: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  list-style: none;
  min-width: 150px;
}

.light-theme .countdown li {
  background: transparent;
}

@media (max-width: 767px) {
  .countdown li {
    min-width: 170px;
  }
  .bttons-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .bttons-container .download-btn, .contact-now-btn {
    width: 100%;
  }
  .about-section h2{
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .countdown li {
    min-width: 110px;
  }
}

@media (max-width: 500px) {
  .countdown li {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.countdown li span {
  font-size: 70px;
  font-weight: bold;
  color: #FFF;
  line-height: 1.0;
  position: relative;
}

.light-theme .countdown li span {
  color: #000;
}

@media (max-width: 992px) {
  .countdown li span {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .countdown li span {
    font-size: 40px;
  }
  .scrollable-container {
  max-height: 400px; 
  overflow-y: auto;
  padding: 10px;
}

.scrollable-container::-webkit-scrollbar {
  width: 8px; 
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px; 
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #161616 !important; 
}

.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px; 
}

.scrollable-container {
  scrollbar-width: thin; 
  scrollbar-color: #ebebeb #ffffff !important;
}


}

@media (max-width: 500px) {
  .countdown li span {
    font-size: 30px;
  }
}

.countdown li p {
  color: rgba(255, 255, 255, 0.55);
  text-transform: uppercase;
  font-size: 15px;
}

.light-theme .countdown li p {
  color: rgba(0, 0, 0, 0.55);
}

.countdown_title {
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.74);
  font-size: 14px;
}

.light-theme .countdown_title {
  color: #000;
}

/* Google Map
 * ------------- */
.google-map {
  height: 560px;
  margin-top: 5em;
}

/* Modal Popup
 * ------------- */
.modal .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal.show.modal-center {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.modal-open .modal.show.modal-center .modal-dialog {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.modal-dark .modal-content {
  background-color: #fffefe !important;
  color: #242424;
}

.modal-dark .close {
  color: #000000;
  text-shadow: none;
}

.modal-dark .form-paragraph{
  font-size: 15px;
}

.modal .close {
  position: absolute;
  right: 7px;
  top: 7px;
}

.modal .modal-header {
  border-bottom: 0;
}

.modal .modal-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

/* Video BG
 * ------------- */
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.video-container video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../images/poster.jpg") no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

/* Forms
 * ------------- */
.md-form {
  position: relative;
  margin-bottom: 2em;
}

.form-group button {
  cursor: pointer;
}

.form-control,
.form-control:focus {
  background-color: transparent;
  /* border-color: rgb(31, 26, 77); */
  border-radius: 0;
  color: #000000;
  font-family: 'Dosis', Arial, Sans-serif;
}

.light-theme .form-control, .light-theme
.form-control:focus {
  color: #000;
}

.input-material {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
}

/* LABEL  */
label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}


.light-theme .input-material:focus ~ label, .light-theme
.input-material ~ label.active {
  color: #000;
}

.bar {
  position: relative;
  display: block;
}

.bar:before,
.bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.light-theme .bar:before, .light-theme
.bar:after {
  background: #000;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}


/* ANIMATIONS  */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

/*-----------------------------------
 * Animations
 *-----------------------------------*/
@-webkit-keyframes lineanim {
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
  50.1% {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
}
@keyframes lineanim {
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
  50.1% {
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
}

@-webkit-keyframes show-img-1 {
  0%,
  66.6% {
    visibility: hidden;
  }
  100%,
  66.7% {
    visibility: visible;
  }
}

@keyframes show-img-1 {
  0%,
  66.6% {
    visibility: hidden;
  }
  100%,
  66.7% {
    visibility: visible;
  }
}

@-webkit-keyframes show-btn-1 {
  0%,
  50% {
    visibility: hidden;
  }
  100%,
  50.1% {
    visibility: visible;
  }
}

@keyframes show-btn-1 {
  0%,
  50% {
    visibility: hidden;
  }
  100%,
  50.1% {
    visibility: visible;
  }
}

@-webkit-keyframes slide-bg-2 {
  33.3% {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.05, 1);
    transform: scale(0.05, 1);
  }
  66.6% {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  66.7% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
}

@keyframes slide-bg-2 {
  33.3% {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.05, 1);
    transform: scale(0.05, 1);
  }
  66.6% {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  66.7% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
}

@-webkit-keyframes slide-bg-1 {
  50% {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
  100% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes slide-bg-1 {
  50% {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
  100% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

.animation {
  position: relative;
}

[data-aos=slide-effect-2]:after {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-2] > .animation-inner,
[data-aos=slide-effect-2] > img {
  visibility: hidden;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: relative;
}

[data-aos=slide-effect-2].aos-animate > .animation-inner,
[data-aos=slide-effect-2].aos-animate > img {
  -webkit-animation-name: show-img-1;
  animation-name: show-img-1;
}

[data-aos=slide-effect-2]:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0.05, 0);
  -ms-transform: scale(0.05, 0);
  transform: scale(0.05, 0);
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-2].anim-dark:after {
  background-color: #000;
}

[data-aos=slide-effect-2].anim-light:after {
  background-color: #fff;
}

[data-aos=slide-effect-2].aos-animate:after {
  -webkit-animation-name: slide-bg-2;
  animation-name: slide-bg-2;
}

/*Button*/
[data-aos=slide-effect-btn] {
  display: inline-block;
  position: relative;
}

[data-aos=slide-effect-btn] a {
  visibility: hidden;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-btn]:after {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-btn]:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-btn].anim-dark:after {
  background-color: #000;
}

[data-aos=slide-effect-btn].anim-light:after {
  background-color: #fff;
}

[data-aos=slide-effect-btn].aos-animate a {
  -webkit-animation-name: show-btn-1;
  animation-name: show-btn-1;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

[data-aos=slide-effect-btn].aos-animate:after {
  -webkit-animation-name: slide-bg-1;
  animation-name: slide-bg-1;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

/*# sourceMappingURL=style.css.map */